workflow/n8n-workflow.json
{
  "name": "Email-to-Task Agent (Agentic Email Automation)",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {},
        "options": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        -1408,
        -368
      ],
      "id": "498fec0a-c57f-4595-8ca7-1bc53e83335b",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "LNIQqf9MIXdHfzJ1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "messageId": "={{ $json.id }}",
        "simple": false,
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        -1280,
        -192
      ],
      "id": "13edcf3b-bb0c-4112-86ab-37bda420e2d1",
      "name": "Get a message",
      "webhookId": "408c6a3a-0630-4811-8235-1283ba9fff71",
      "credentials": {
        "gmailOAuth2": {
          "id": "LNIQqf9MIXdHfzJ1",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are an email triage assistant.\n\nYour job is to decide whether this email requires action.\n\nClassify it as ONE of the following:\n- ACTION_REQUIRED\n- FYI\n- IGNORE\n\nEmail details:\n\nFrom: {{ $json.From }}\nSubject: {{ $json.Subject }}\n\nBody:\n{{$json[\"text\"]}}\n\nReturn ONLY this JSON:\n\n{\n  \"classification\": \"ACTION_REQUIRED | FYI | IGNORE\",\n  \"reason\": \"short explanation\"\n}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1088,
        -192
      ],
      "id": "39ffccc0-b78a-402e-8c13-eb23922815e3",
      "name": "Email Triage Agent",
      "credentials": {
        "openAiApi": {
          "id": "xlHk2xf7aKXaMQnu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract readable email text from Gmail message\n// Handles cases where Gmail provides html directly (no payload)\n\nfunction stripHtml(html) {\n  return html\n    .replace(/<style[\\s\\S]*?<\\/style>/gi, ' ')\n    .replace(/<script[\\s\\S]*?<\\/script>/gi, ' ')\n    .replace(/<[^>]*>/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nreturn items.map(item => {\n  const msg = item.json;\n\n  let body = '';\n\n  // CASE 1: Gmail provides HTML directly (your current case)\n  if (typeof msg.html === 'string' && msg.html.trim().length > 0) {\n    body = stripHtml(msg.html);\n  }\n\n  // CASE 2: Fallback to snippet\n  if (!body && typeof msg.snippet === 'string') {\n    body = msg.snippet;\n  }\n\n  return {\n    json: {\n      ...msg,\n      text: body\n    }\n  };\n});\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1184,
        -368
      ],
      "id": "d08a350f-df3c-459b-8aa6-00a23f6d2835",
      "name": "Extract Email Text"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "57dae85f-1918-49b2-8859-2bba940f1bd4",
              "name": "=ai_json_text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -864,
        -368
      ],
      "id": "746c0beb-2e44-41c6-9e54-9c456f602fd7",
      "name": "Extract Classification JSON"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($json.ai_json_text);\n\nreturn {\n  classification: parsed.classification,\n  reason: parsed.reason\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -768,
        -208
      ],
      "id": "d01a10cf-19f2-46da-87f0-5b8c558747c1",
      "name": "Parse Classification"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f365d29e-0a40-4d20-a2d2-151baef1c5a4",
              "leftValue": "={{ $json.classification }}",
              "rightValue": "ACTION_REQUIRED",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -672,
        -368
      ],
      "id": "32f16a9f-bcef-4bda-98bb-72216f91d44e",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "GPT-4.1-MINI"
        },
        "responses": {
          "values": [
            {
              "content": "=You are a task extraction agent.\n\nYour job is to extract structured task information from an email.\nBe conservative. Do NOT guess or invent information.\n\nEmail:\nSubject: {{ $('Extract Email Text').item.json.headers.subject }}\nBody:\n{{ $('Extract Email Text').item.json.text }}\n\nRules (STRICT):\n1. If no clear actionable task exists, set task_detected to false.\n2. If the email uses vague timing phrases such as:\n   - \"at the earliest\"\n   - \"as soon as possible\"\n   - \"whenever possible\"\n   - \"when you get a chance\"\n   then:\n   - Set deadline to null\n   - Set priority to High\n3. If the email uses relative date phrases such as:\n   - \"end of the week\"\n   - \"this week\"\n   - \"next week\"\n   - \"this Friday\"\n   - \"by Friday\"\n   then:\n   - Do NOT convert them into calendar dates\n   - Set deadline to null\n   - Preserve the original wording in the task_description\n4. Only extract a deadline if the email contains an explicit calendar date\n   (e.g., \"April 28, 2026\", \"2026-01-30\").\n5. Task title must be short, specific, and actionable (start with a verb).\n6. Priority must be one of: High, Medium, Low.\n   - High: deadlines, urgency, compliance, submissions\n   - Medium: follow-ups, reviews, discussions\n   - Low: optional or informational tasks\n\nReturn ONLY valid JSON in this exact format:\n\n{\n  \"task_detected\": true | false,\n  \"task_title\": \"\",\n  \"task_description\": \"\",\n  \"deadline\": \"YYYY-MM-DD | null\",\n  \"priority\": \"High | Medium | Low\"\n}\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 300,
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -576,
        -208
      ],
      "id": "8578ed36-0319-4d5d-8cb0-c6e9848d41e7",
      "name": "Task Extraction Agent",
      "credentials": {
        "openAiApi": {
          "id": "xlHk2xf7aKXaMQnu",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "18e71208-3c16-455e-994c-83a017a42851",
              "name": "=task_json_text",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": "=",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -352,
        -368
      ],
      "id": "48b0a4cc-79c1-4424-97b8-b1bd62fec668",
      "name": "Extract Task JSON"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const parsed = JSON.parse($json.task_json_text);\n\nreturn {\n  task_detected: parsed.task_detected,\n  task_title: parsed.task_title,\n  task_description: parsed.task_description,\n  deadline: parsed.deadline,\n  priority: parsed.priority\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -208
      ],
      "id": "835eb990-1dc4-4e99-a74a-361291d12e5e",
      "name": "Parse JSON"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const title = $json.task_title|| \"untitled\";\nconst deadline = $json.deadline || \"no-deadline\";\n\nreturn {\n  ...$json,\n  source_key: `${title}__${deadline}`\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        -368
      ],
      "id": "5193cbe9-be53-4780-abcf-f40ffd8f642f",
      "name": "Source Key Generation"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2eecf2a6-8efc-80c9-89c4-e78f4b560bd9",
          "mode": "list",
          "cachedResultName": "Tasks Database",
          "cachedResultUrl": "https://www.notion.so/2eecf2a68efc80c989c4e78f4b560bd9"
        },
        "filterType": "manual",
        "filters": {
          "conditions": [
            {
              "key": "Source Key|rich_text",
              "condition": "equals",
              "richTextValue": "={{ $json.source_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -64,
        -208
      ],
      "id": "b7f5c2b4-86b0-4b4e-a825-7414f32210e9",
      "name": "Notion Serach Node",
      "alwaysOutputData": true,
      "credentials": {
        "notionApi": {
          "id": "kN3H8PeM7TUhPZaP",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "32713724-4f5c-4841-8c56-0fe93262453d",
              "leftValue": "={{$items()}}",
              "rightValue": 0,
              "operator": {
                "type": "array",
                "operation": "lengthGt",
                "rightType": "number"
              }
            },
            {
              "id": "33a67fbe-1f85-4117-8ad1-5486f0850f87",
              "leftValue": "={{ $('Parse JSON').item.json.deadline }}",
              "rightValue": "True",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        32,
        -368
      ],
      "id": "1ce69381-75bd-4358-8792-8cafdefb24ec",
      "name": "If2"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2eecf2a6-8efc-80c9-89c4-e78f4b560bd9",
          "mode": "list",
          "cachedResultName": "Tasks Database",
          "cachedResultUrl": "https://www.notion.so/2eecf2a68efc80c989c4e78f4b560bd9"
        },
        "title": "={{ $('Parse JSON').item.json.task_title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Description|rich_text",
              "textContent": "={{ $('Parse JSON').item.json.task_description }}"
            },
            {
              "key": "Priority Level|select",
              "selectValue": "={{ $('Parse JSON').item.json.priority }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Not started"
            },
            {
              "key": "Email Link|url",
              "urlValue": "={{ $('Extract Email Text').item.json.headers.from }}"
            },
            {
              "key": "Source Key|rich_text",
              "textContent": "={{ $('Source Key Generation').item.json.source_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        176,
        -224
      ],
      "id": "c53a12f8-9b62-48c9-8b68-23ad930bf3e8",
      "name": "Create Task (No due date)",
      "credentials": {
        "notionApi": {
          "id": "kN3H8PeM7TUhPZaP",
          "name": "Notion account"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "2eecf2a6-8efc-80c9-89c4-e78f4b560bd9",
          "mode": "list",
          "cachedResultName": "Tasks Database",
          "cachedResultUrl": "https://www.notion.so/2eecf2a68efc80c989c4e78f4b560bd9"
        },
        "title": "={{ $('Parse JSON').item.json.task_title }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Description|rich_text",
              "textContent": "={{ $('Parse JSON').item.json.task_description }}"
            },
            {
              "key": "Due Date|date",
              "includeTime": false,
              "date": "={{ $('Source Key Generation').item.json.deadline }}"
            },
            {
              "key": "Priority Level|select",
              "selectValue": "={{ $('Parse JSON').item.json.priority }}"
            },
            {
              "key": "Status|status",
              "statusValue": "Not started"
            },
            {
              "key": "Email Link|url",
              "urlValue": "={{ $('Extract Email Text').item.json.headers.from }}"
            },
            {
              "key": "Source Key|rich_text",
              "textContent": "={{ $('Source Key Generation').item.json.source_key }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        272,
        -384
      ],
      "id": "3a4b7dcf-f35f-4a59-b68f-64f6403a2574",
      "name": "Create Task (With due date)",
      "credentials": {
        "notionApi": {
          "id": "kN3H8PeM7TUhPZaP",
          "name": "Notion account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Get a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a message": {
      "main": [
        [
          {
            "node": "Extract Email Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Text": {
      "main": [
        [
          {
            "node": "Email Triage Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Triage Agent": {
      "main": [
        [
          {
            "node": "Extract Classification JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Classification JSON": {
      "main": [
        [
          {
            "node": "Parse Classification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Classification": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Task Extraction Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Extraction Agent": {
      "main": [
        [
          {
            "node": "Extract Task JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Task JSON": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Source Key Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Source Key Generation": {
      "main": [
        [
          {
            "node": "Notion Serach Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion Serach Node": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Create Task (With due date)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create Task (No due date)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "37729c60-3e6e-458d-bc08-36833e714b2c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a20f4d92c28fdb04e55afb5beb2732dd2dda36d98938d98af61610e3a91557d4"
  },
  "id": "_ej_c3ppa1vYo65MUByyW",
  "tags": []
}